@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Serif:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}


/* preloader */


/* body {
    position: fixed;
} */

.body-active {
    position: relative;
}

.preloader-body {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    text-align: center;
}

.preloader {
    position: relative;
    top: 50%;
    margin: auto;
    width: 36vw;
    color: white;
    font-size: 3.0rem;
    background: linear-gradient(180deg, #413080 0, #afa7cc 100%);
    box-shadow: inset 0 5px 2.0rem #311e77;
    text-shadow: 5px 5px 5px rgba(49, 30, 119, 0.3);
    z-index: 999;
}

.preloader:after {
    content: "";
    display: table;
    clear: both;
}

span {
    float: left;
    height: 5vw;
    line-height: 6vw;
    width: 3vw;
}

.preloader>span {
    border-left: 1px solid #afa7cc;
    border-right: 1px solid #413080;
}

.bars {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bars span {
    background: linear-gradient(180deg, white 0, #b0a8cd 100%);
    animation: up 3s infinite;
}

.loaded {
    display: none;
}

@keyframes up {
    0% {
        margin-bottom: 0;
    }
    16% {
        margin-bottom: 100%;
        height: 1.0vw;
    }
    50% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 0;
    }
}

.bars span:nth-child(2) {
    animation-delay: .142857s;
}

.bars span:nth-child(3) {
    animation-delay: .285714s;
}

.bars span:nth-child(4) {
    animation-delay: .428571s;
}

.bars span:nth-child(5) {
    animation-delay: .571428s;
}

.bars span:nth-child(6) {
    animation-delay: .714285s;
}

.bars span:nth-child(7) {
    animation-delay: .857142s;
}

.bars span:nth-child(8) {
    animation-delay: .999999s;
}

.bars span:nth-child(9) {
    animation-delay: 1.142856s;
}

.bars span:nth-child(10) {
    animation-delay: 1.285713s;
}

.bars span:nth-child(11) {
    animation-delay: 1.428570s;
}

.bars span:nth-child(12) {
    animation-delay: 1.571427s;
}

@media only screen and (max-width: 1024px) {
    .preloader {
        font-size: 2.0rem;
    }
}

@media only screen and (max-width: 480px) {
    .preloader {
        width: 72vw;
        font-size: 2.0rem;
    }
    span {
        height: 8vw;
        line-height: 9vw;
        width: 6vw;
    }
}


/* header */

.header {
    background-color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    /* Safari */
    top: 0;
    z-index: 999;
}

.header-sticky {
    position: sticky;
    position: -webkit-sticky;
    background-color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    /* Safari */
    top: 0;
    z-index: 999;
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 1s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s;
    /* Задержка перед началом */
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-block {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: auto;
}

.logo {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo a img {
    width: 50%;
    height: 50%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    align-items: center;
    padding: 1% 0 1% 0;
}

.navigation-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.mobile-navigation,
.mob-menu {
    display: none;
}

.text-link {
    color: #000;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-right: 2vw;
}

.text-link:hover,
.text-link:active,
.text-link:focus {
    border-bottom: 2px #000 solid;
}


/* main */

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 95vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}


/* title block */

.title-block {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('../img/electrical-networks-font.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-block-fone {
    position: relative;
    width: 100%;
    height: 35vw;
    background-image: url('../img/top-transition.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title-text {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 6.5rem;
}

.title-desc {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
}


/* services block */

.services-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;
}

.services {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headline {
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 4.8rem;
    margin-top: 80px;
    margin-bottom: 42px;
}

.services-list {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.4rem;
    width: 50%;
    margin-left: 1%;
}

.services-list li {
    margin-bottom: 3%;
}

.services-icon {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}


/* project block */

.project-block {
    width: 100%;
    height: 70vw;
    min-height: 70vw;
    background-color: #000;
    -webkit-clip-path: polygon(0% 100%, 0% 25%, 100% 1%, 100% 72%);
    clip-path: polygon(0% 100%, 0% 25%, 100% 1%, 100% 72%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-block_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-block_image {
    height: auto;
    margin: 1%;
}

.project-block_text {
    width: 40%;
}

.project-block_title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 7%;
    text-align: left;
}

.project-block_desc {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.project-block_link {
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: #FF0000;
    text-decoration: none;
}

.project-block_link:hover,
.project-block_link:focus,
.project-block_link:active {
    border-bottom: 2px #FF0000 solid;
}


/* contacts */

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.contacts-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-info {}

.contacts-info_title {
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 4.8rem;
    margin-bottom: 10%;
}

.contacts-info_desc {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.4rem;
}

.contacts-info_desc p {
    margin-bottom: 5%;
}

.phone a,
.fax a,
.tel a,
.email a {
    text-decoration: none;
}

.phone a:hover,
.fax a:hover,
.tel a:hover,
.email a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.phone-next {
    padding-left: 17.5%;
}

.fax {
    margin-bottom: 5%;
}

.tel {
    margin-bottom: 5%;
}

.tel-next {
    padding-left: 3.5%;
}

.email {
    margin-bottom: 5%;
}

.email-next {
    padding-left: 12%;
}

.contacts-map {
    width: 50%;
    height: 25vw;
}


/* footer */

.footer-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.footer-block-top {
    content: "";
    width: 100%;
    height: 12vw;
    background-image: url('../img/bottom-transition.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -30%;
    left: 0;
}

.footer-information {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 5vw;
}

.footer-info {}

.footer-info_org-name {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.4rem;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.footer-email,
.footer-email a,
.footer-info2_text,
.footer-phone,
.footer-phone a,
.footer-tel,
.footer-tel a,
.footer-copyright,
.footer-confid,
.footer-menu-list_link {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 5%;
}

.footer-email a:hover,
.footer-phone a:hover,
.footer-tel a:hover,
.footer-confid:hover,
.footer-menu-list_link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.footer-phone {}

.footer-tel {}

.footer-menu {
    height: 100%;
}

.footer-menu-list {
    list-style: none;
    text-align: center;
}

.footer-menu-list li {
    margin-bottom: 10%;
}

.footer-menu-list_link {}

.footer-info2 {
    width: 25%;
}

.footer-copyright {}

.footer-confid {}